<form action="/katas" method="POST">
  <label for="name">Kata name</label>
  <input required type="text" id="name" name="name" />

  <label for="cw">Kata Id</label>
  <input required type="text" id="cw" name="cw" />
  <button type="submit">Submit kata</button>
</form>

<br />
<a href="/">&larr; Back Home</a>
