<h2><%= kata.name %></h2>

<a
  class="btn btn-primary"
  target="_blank"
  href="http://www.codewars.com/kata/<%= kata.cw %>/train/javascript"
  >train again</a
>
<a
  class="btn btn-primary"
  target="_blank"
  href="http://www.codewars.com/kata/<%= kata.cw %>/solutions/javascript"
  >solutions</a
>

<p><%= kata.color %></p>
