<h2 class="centered">Profile Page</h2>
<div class="centered">
  <img
    src="https://media.giphy.com/media/Zg51pFbwzcTcI/giphy.gif"
    alt="Samurai gets ready"
  />
</div>

<p>Id: <%= id %></p>
<p>Name: <%= name %></p>
<p>Email: <%= email %></p>
<p>Codewars Username: <%= codewars_username %></p>
