<h2 class="centered display-3">Profile Page</h2>
<div class="centered">
  <img
    src="https://media.giphy.com/media/Zg51pFbwzcTcI/giphy.gif"
    alt="Samurai gets ready"
  />
</div>
<br />

<div class="centered">
  <h3>Id: <%= id %></h3>
  <h3>Name: <%= name %></h3>
  <h3>Email: <%= email %></h3>
  <h3>Codewars Username: <%= codewars_username %></h3>
</div>
