* {
  font-family: "Raleway", sans-serif;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 0.3em;
  font-size: 25px;
}

body {
  /* text-align: center; */
  min-height: 100%;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #dd5b51;
  overflow: hidden;

  background-image: url(/img/background4.jpg);
}

.img {
  filter: opacity(60%);
}

h1 {
  color: #dd5b51;
}

.centered {
  text-align: center;
}

.italic {
  font-style: italic;
}
