<h2 class="centered">Edit subject name</h2>
<form method="POST" action="/subjects/edit/<%=subject.id%>?_method=PUT">
  <label>Name</label>
  <input required type="text" name="name" value="<%= subject.name %>" />
  <input type="submit" />
</form>
