<h2 class="centered display-3 bump">Create a subject tag</h2>
<div class="centered backbox2">
  <form action="/subjects" method="POST">
    <div class="single">
      <label class="text-danger" for="name">Subject name</label>
      <input required type="text" id="name" name="name" />
      <button class="btn btn-secondary" type="submit">Submit subject</button>
    </div>
  </form>
</div>
