<h2 class="centered display-3">Create a subject tag</h2>
<form action="/subjects" method="POST">
  <label for="name">Subject name</label>
  <input required type="text" id="name" name="name" />

  <button class="btn btn-secondary" type="submit">Submit subject</button>
</form>

<br />
<a href="/">&larr; Back Home</a>
