<h2>Katas tagged with <%= subject.name %></h2>

<% subject.exercises.forEach (n => { %>
<h3>
  <a href="/katas/<%=n.id%>"> <%= n.name %> </a>
</h3>

<hr />
<% }) %>

<br />

<form action="/subjects/<%=subject.id %>?_method=DELETE" method="POST">
  <button type="submit" class="btn btn-danger">Delete this subject?</button>
</form>

<br />
<a href="/">&larr; Back Home</a>
