<h2 class="centered display-3">Katas tagged with <%= subject.name %></h2>
<div class="centered backbox">
  <% subject.exercises.forEach (n => { %>
  <div class="single">
    <h3>
      <a href="/katas/<%=n.id%>"> <%= n.name %> </a>
    </h3>
  </div>

  <% }) %>

  <br />

  <form action="/subjects/<%=subject.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-danger">Delete this subject?</button>
  </form>
</div>
